extends layout

block content
  .home-text
    h1.title Let's Meet!
    p Do You want to join some event? Or maybe create an event! If so - you came to the right place. Meet with people and have fun.
  .triangle-first
  .triangle-second
