extends layout

block content
  .home-text
    h1.title Let's Meet!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas repudiandae, a esse, ducimus quibusdam dolorem, velit molestias labore, ullam consequuntur adipisci nostrum aperiam? Odio blanditiis fuga rem, beatae harum? Fugit!
  .triangle-first
  .triangle-second
